@use "../../../../../main-style/style.scss";
.container-all-file{
    flex-basis: 80%;
    .header{
        display: flex; justify-content: start; 
        align-items: center; margin-bottom: 15px;
        justify-content: space-between; background-color: style.$main-color;
         height: 10vh; padding: 0px 15px;
    
        span {
            font-size: 1.4em; margin-right: 10px;
        }
        img {
            width: 35px; height: 35px; border-radius: 50%;
        }
        .showList{
            font-size: 1.8em; color: white; cursor: pointer; margin-top: 3px;
            display: none;
        }
    
        .search{
            display: flex; background-color: white; border: 1px solid silver;
            padding: 5px; text-align: center; align-items: center; border-radius: 30px;
            input {
                border: none; width: 180px;
            }
    
            li{
                &:first-child{
                    font-size: 1em; margin-top: 3px; 
                }
                &:last-child{
                    padding: 0px 6px; text-transform: capitalize;
                    width: 200px;
                }
            }
        }
    }    







    //-------------------------chate section view ----------------------------------------//
    .chate-view{
        padding: 10px; height: 60vh; overflow-y: scroll;
        .item-container-chate{
            display: flex; margin-bottom: 10px;
        }
        .image-container{
            margin: 0px  8px; 
            img {
                width: 40px; height: 40px; border-radius: 15px;
            }
        }
        .text-area{
            .data{
                li{
                    font-weight: bold; text-transform: capitalize;
                    &:first-child{
                        font-size: .8em; margin-bottom: 3px;
                    }
                    &:last-child{
                        font-weight: normal; font-size: .7em;
                    }
                }
            }
            p{
                padding: 8px 5px; font-weight: bold; background-color: rgba(192, 192, 192, 0.39);
                border-radius: 10px; margin-top: 3px; font-size: .8em;
            }
        }
    }


    //-----------------------------input section -------------------------------------------//
    .chate_input-section{
        margin-top: 15px;
        width: 100%; height: 35px;
        form {
            display: flex; align-items: center;height: 35px;
            input {
                 padding: 10px;width: 100%;
            }
            button {
                width: 160px; display: flex; justify-content: space-around;
                font-weight: bold; background-color: style.$main-color; font-size: 1.2em;
                align-items: center; cursor: pointer; color: white;
                height: 36px; padding: 0px 30px;
            }
        }
    }
}


@media screen and (max-width:700px) {
    .container-all-file{
        flex-basis: 100%;
        .header {
            .search{
                display: none;
            }
        .showList{
            display: block;
        }
        
        }
    }
}