@use "../../../main-style/style.scss";
.header-system{
    position: fixed; width: 100vw; height: 8vh; background-color:style.$main-color;
    color: white ; font-size: 1.5em; padding: 0px  50px;z-index: 10000;
    display: flex; align-items: center; justify-content: space-between;

    .navbar{
        p{
            display: none;
        }
    }


    .icon-section{ 
        display: flex; align-items: center; width: 90px; justify-content: space-between;
        text-transform: uppercase; font-weight: bold; font-size: .8em; position: relative;

        .logout-bar-section{
            position: absolute; background-color: white; color: style.$main-color;border-radius: 10px;
            left: -25px; top: 43px; width: 130px; padding: 10px; border: 1px solid style.$main-color;
            
            li{
                padding: 5px 5px;
                &:first-child{
                    cursor: pointer;
                    display: flex; justify-content: start; align-items: center;
                    h4 { 
                        font-size: .9em;margin-left: 5px;
                    }
                }
                button {
                    width: 100%; height: 35px; background-color: style.$main-color;
                    color: white; font-weight: bold; border-radius: 5px;
                    cursor: pointer;
                }
            }
        }

        li{
            cursor: pointer;
            img {
                width: 27px; height: 27px; border-radius: 50%;
            }
            span {
                font-size: .8em; margin-bottom: 5px; display: inline-block;
            }
        
        }
    }
    .name-logo{
        color: white; font-weight: bold; text-transform: capitalize;
        position: absolute; left: 50%; top: 25px; transform: translate(-50%,-50%);
        letter-spacing: .1em;text-transform: uppercase;
    }
}


@media screen and (max-width:765px) {
    .header-system{
        padding: 0px  15px;
        .name-logo{
            font-size: .8em;
            left: 45%; top:22px;
        }

        .navbar{
            p{
                display: block; cursor: pointer;
            }
        } }

}